
.upcoming-page {
  padding: 20px 0; 
  background: linear-gradient(to bottom, #1a1a1a, #101010); 
  color: #eaeaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.upcoming-page h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #ffcc00;
  margin-bottom: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(255, 204, 0, 0.7); 
}


.movie-grid {
  width: 100%;
  max-width: 100%; 
  margin: 0 auto; 
  padding: 0; 
  display: flex;
  gap: 20px; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  box-sizing: border-box; 
}



@media (max-width: 768px) {
  .upcoming-page h2 {
    font-size: 2rem;
  }

  .movie-grid {
    gap: 15px; 
  }
}
